div.profile__nav-bar
      div(class="profile__nav-logo" onclick="window.location.href='/'")
      button(id='sign-up' class='nav__btn' onclick="window.location.href='/sign-up'") Sign Up
      button(id='log-in' class='nav__btn' onclick="window.location.href='/log-in'") Log In
      button(id='demo-user' class='nav__btn') Demo
      button(id='profile' class='nav__btn') Profile
      button(id='log-out' class='nav__btn' onclick="window.location.href='/log-in'") Log Out
      button(id='my-business' class='nav__btn') My Business
