extends layout

block content
	div(class="demo__container")
		div(class="demo__picture")
		div(class="demo__bubble fade-in")
		button(class="next_button1") Continue
		button(class="next_button2") Continue
	div(class="developedBy")
		div(class="hangry") Hangry App Developers:
		div Scrum Master: Alfredo Quiroga
		div Akmal Anvarov
		div Peter Kang
		div Ranson Thomas Knorr
		div Wren McPherson
		div Ryan Young
	script(type="module" src="js/demo.js")
