extends layout

block content
	div(class="demo__container")
		div(class="demo__picture")
		div(class="demo__bubble") 
		button(class="next_button1") Continue
		button(class="next_button2") Continue
	div(class="developedBy") 
		p Scrum Master: Alfredo Quiroga
		p Akmal Anvarov
		p Peter Kang
		p Ranson Thomas Knorr
		p Wren McPherson
		p Ryan Young
	script(type="module" src="js/demo.js")

