extends layout.pug

block content
  div.container
    div.nav__bar
      button(id='demo-user' class='nav__btn' onclick="window.location.href='/'") Back to Hangry

  h2=title
  p=message
  p=errors
  pre=stack
