extends layout.pug

block content
  div.container Hello
    div.nav__bar
      button(id='sign-up' class='nav__btn') Sign Up
      button(id='log-in' class='nav__btn') Log In
    div.nav__logo hi
    div.nav__search
