extends layout.pug

block content
  div.container
    div.nav__bar
      button(id='sign-up' class='nav__btn') Sign Up
      a(href="/sign-up") signup
      button(id='log-in' class='nav__btn') Log In
    div.logoSearchChunk
      div.nav__logo
      div.nav__search
        form(class="search-form")
        .form-group
          label(for='search')
          input#username.form-control(type='text' name='search' placeholder="Search")
          button(class='btn--submit') Submit
    div.options
      select.dropdown-list
        option(value='0') -- Food Category --
        option(value='1') seafood
        option(value='2') mexican
        option(value='3') italian
      a(href="/takeout") Takeout
      a(href="/dine-in") Dine-In
      a(href="/delivery") Delivery
  div.recentRestaurants
    div.restaurant1
      p #{restaurant1.name}
    div.restaurant2
    div.restaurant3

  script(src="js/index.js" type='module')
