extends layout.pug

block content
  div.container
    div.nav__bar
      button(id='sign-up' class='nav__btn' onclick="window.location.href='/sign-up'") Sign Up
      button(id='log-in' class='nav__btn' onclick="window.location.href='/log-in'") Log In
      button(id='profile' class='nav__btn' onclick="window.location.href='/log-in'") Profile
      button(id='log-out' class='nav__btn' onclick="window.location.href='/log-in'") Log Out
      button(id='my-business' class='nav__btn') My Business
    div.logoSearchChunk
      div.nav__logo
      div.nav__search
        form(class="search-form")
          .form-group
            label(for='search')
            input#username.form-control(type='text' name='search' placeholder="Search")
            button(class='btn--submit' type="submit") Submit
    div.options
      select.dropdown-list
        option(value='0') -- Food Category --
        option(value='1') seafood
        option(value='2') mexican
        option(value='3') italian
      a(href="/takeout") Takeout
      a(href="/dine-in") Dine-In
      a(href="/delivery") Delivery
  div.recentRestaurants
    div.restaurant1
      div.restaurant1__image
      a.restaurant1__name
      div.restaurant1__rating
      div.restaurant1__foodCategory
      div.restaurant1__cityState
    div.restaurant2
      div.restaurant2__image
      a.restaurant2__name
      div.restaurant2__rating
      div.restaurant2__foodCategory
      div.restaurant2__cityState
    div.restaurant3
      div.restaurant3__image
      a.restaurant3__name
      div.restaurant3__rating
      div.restaurant3__foodCategory
      div.restaurant3__cityState
    div.restaurant4
      div.restaurant4__image
      a.restaurant4__name
      div.restaurant4__rating
      div.restaurant4__foodCategory
      div.restaurant4__cityState

  script(src="js/index.js" type='module')
