extends layout.pug

block content
  div.container
    div.nav__bar
      button(id='sign-up' class='nav__btn' onclick="window.location.href='/sign-up'") Sign Up
      button(id='log-in' class='nav__btn' onclick="window.location.href='/log-in'") Log In
      button(id='demo-user' class='nav__btn' onclick="window.location.href='/demo-user'") Demo
      button(id='profile' class='nav__btn') Profile
      button(id='log-out' class='nav__btn' onclick="window.location.href='/log-in'") Log Out
      button(id='my-business' class='nav__btn') My Business
    div.logoSearchChunk
      div.nav__logo
      div.nav__search
        form(class="search-form")
          .form-group
            label(for='search')
            input#username.form-control(type='text' name='search' placeholder="Search")
            button(class='btn--submit' type="submit") Submit
    div.options
      select.dropdown-list
        option(value='' onclick="window.location.href='/'") -- Food Category --
        option(value='Chinese') Chinese
        option(value='Mexican') Mexican
        option(value='Fast Food') Fast Food
        option(value='Middle Eastern') Middle Eastern
        option(value='Bar') Bars
        option(value='Cafe') Cafes
      button(class="services-search" value="takeOut") Takeout
      button(class="services-search" value="dineIn") Dine-In
      button(class="services-search" value="delivery") Delivery
  div.recRestaurants Recommended Restaurants
  div.recentRestaurants
    div.restaurant1
      div.restaurant1__image.info
      a.restaurant1__name.info
      div.restaurant1__rating.info
      div.restaurant1__foodCategory.info
      div.restaurant1__cityState.info
    div.restaurant2
      div.restaurant2__image.info
      a.restaurant2__name.info
      div.restaurant2__rating.info
      div.restaurant2__foodCategory.info
      div.restaurant2__cityState.info
    div.restaurant3
      div.restaurant3__image.info
      a.restaurant3__name.info
      div.restaurant3__rating.info
      div.restaurant3__foodCategory.info
      div.restaurant3__cityState.info
    div.restaurant4
      div.restaurant4__image.info
      a.restaurant4__name.info
      div.restaurant4__rating.info
      div.restaurant4__foodCategory.info
      div.restaurant4__cityState.info

  script(src="js/index.js" type='module')
