extends layout.pug

block content
  div(class="log-in-container")
    div(class="errors-container")
    h2 Log in your Hangry Account
    form(class="log-in-form")
      div(class="form-group")
        label(for="email")
        input(id="email" type="email" name="email" placeholder="email address")
        div(class="form-group")
        label(for="password")
        input(id="password" type="password" name="password" placeholder="password")
      button(type="submit")  sign up
