extends layout.pug

block content
  include includes/nav-bar
  div.form-image
    div(class="log-in-container")
      div.form-and-image
        div(class="errors-container")
        h2 Welcome Back!
        form(class="log-in-form")
          div(class="form-group")
            label(for="email")
            input(id="email" type="email" name="email" placeholder="email address")
            div(class="form-group")
            label(for="password")
            input(id="password" type="password" name="password" placeholder="password")
          button(type="submit")  Log In
      div.log-in__image
  script(type="module" src="js/log-in.js")
