extends layout

block content
  include includes/nav-search
  div.profile__main
    div.profile__user-container
      div.profile__user-name Username
      div.profile__user-pic pic here

    div.profile__reviews-container
  script(type="module" src="/js/users.js")