extends layout

block content
    div.image-bar
    div.restaurant-content
        div.info-container
            div.restaurant-name
            div.restaurant-rating
            div.food-categories
            div.business-hours    
        div.button-container
        div.services-container
        div.location-and-hours-container
        div.recommendations-container
        div.reviews-container

    script(type="module" src="/js/restaurant.js")