extends layout

block content
    div.image-bar
    div.restaurant-content
        div.info-container
            div.restaurant-name
            div.restaurant-rating
                div.stars-bar
                div.review-number
            div.food-categories
            div.business-hours    
        div.button-container
            button(class="write-review-button") Write a Review
            button(class="restaurant__delete-button") Delete Restaurant
        div.services-container
        div.location-and-hours-container
        div.recommendations-container
        div.reviews-container

    script(type="module" src="/js/restaurant.js")