extends layout

block content
    //- include includes/nav-search
    div.profile__nav-bar
      a(href="/" class="profile__home-button") Hangry App  
      div(class="profile__nav-logo" onclick="window.location.href='/'")
      button(id='sign-up' class='nav__btn' onclick="window.location.href='/sign-up'") Sign Up
      button(id='log-in' class='nav__btn' onclick="window.location.href='/log-in'") Log In
      button(id='profile' class='nav__btn') Profile
      button(id='log-out' class='nav__btn' onclick="window.location.href='/log-in'") Log Out
      button(id='my-business' class='nav__btn') My Business
    div.image-bar
    div.restaurant-content
        div.info-container
            div.restaurant-name
            div.restaurant-rating
                div.stars-bar
                div.review-number
            div.food-categories
            div.business-hours    
        div.button-container
            button(class="write-review-button") Write a Review
            button(class="restaurant__delete-button") Delete Restaurant
        div.services-container
            h3.services-title Services
        div.location-and-hours-container
            h3 Location and Hours
            .map-container
                div#map
                div.address-container
        div.recommendations-container
        div.reviews-container
            h3 Reviews
    script(src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js')
    script(type="module" src="/js/restaurant.js")