extends layout.pug

block content
    include includes/nav-search
    div.search-main
        h1 Restaurants
        div(class="search__restaurants-container")
        



    script(type="module" src="js/search.js")
