extends layout.pug

block content
    form(class="search")
        input(type="text" name="search" placeholder="search..." class="searchbar")
        button(type="submit") search

    div(class="restaurants-container")

    div= restaurants
    //- each restaurant in restaurants
    //-     .restaurant__container
    //-         div= restaurant.name
    //-         div= restaurant.phone
    //-         div= restaurant.address, restaurant.city, restaurant.state
    //-         div= restaurant.dineIn, restaurant.takeOut, restaurant.delivery



    script(type="module" src="js/search.js")
