.search-main h1,
.search-main h2,
.search-main h3 {
    font-family: tahoma;
    color: black;
}

.search-main div {
    font-family: tahoma;
    font-size: 14px;
    font-weight: lighter;
    color: #2a2a1e;
}

.search__restaurants-container {
    position: relative;
    /* left: 200px; */
    left: 50px;
    min-width: 600px;
    /* width: 75%; */
    width: 85%;
    top: 100px;
    box-sizing: border-box;
    height: 100%;
    padding: 20px;
    margin-top: 20px;
}

.search-res-container__header {
    margin: 0 5px 40px 0;
}

.search__res-div {
    display: grid;
    grid-gap: 0px 10px;
    margin: 15px 0;
    grid-template-columns: 1fr .2fr 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 4fr;
    width: 100%;
    height: 280px;
    position: relative;
    /* border: solid .5px #EDEDED; */
    box-shadow: 0 0 4px 1px rgba(100, 100, 100, .1);
    border-radius: 10px;
    transition-duration: .2s;
    padding: 20px;
    overflow: hidden;
    grid-template-areas:
        "picture . title title address"
        "picture . title title ."
        "picture . rating rating rating"
        "picture . service service service"
        "picture . review review review";
}

.search__res-div:hover {
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, .1);
}

.search__restaurants-container a {
    color: black;
    text-decoration: none;
}
.search__res-img {
    grid-area: picture;
    width: 205px;
    height: 205px;
    border-radius: 6px;
    align-self: center;
    padding: 2rem;
}
/* .search__res-div{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr .75fr .75fr;
    border: solid .5px gray;
    border-radius: 3px;
    padding: 1rem;
    grid-template-areas: '';
} */

.search__restaurant-id {

}

.search__restaurant-name {
    grid-area: title;
    height: 10px;
    width: 200px;
}

.search__restaurant-name:hover {
    text-decoration: underline;
}

.search__rating {
    grid-area: rating;
    height: 10px;
}

.search__review {
    grid-area: review;
    overflow: hidden;
    height: 100px;
}

.search__services {
    grid-area: service;
    height: 10px;
}

.search__services p, .search__review p, .search__rating p {
    color: rgb(123, 123, 123);
}

.search__address {
    grid-area: address;
    position: absolute;
    width: 150px;
    top: 0px;
    right: 0px;
    text-align: right;
    margin: 10px;
}

.search__address p {
    color: gray;
    font-size: 12px;
}

.search-main {

}
.search-sidenav {
    display: none;
    z-index: 1;
    position: fixed;
    top: 95px;
    left: 0px;
    /* display: block; */
    width: 200px;
    height: 100%;
}
.search-sidenav__container {
    display: flex;
    flex-direction: column;
}
.search-sidenav__title {
    margin-top: 10px;
    margin-left: 20px;
    border-bottom: .5px solid #EDEDED;
}
.search-sidenav__title h2 {

}
.search-sidenav__food-category {
    margin-top: 20px;
}
.search-sidenav__header {

}
.search-sidenav__food-cat-list {

}
.search-sidenav__services {

}
.search-sidenav__header {

}
.search-sidenav__service-buttons {

}

.main-nav {
    /* z-index: 1; */
    display: block;
    height: 100px;
    width: 100%;
    border-bottom: 1px solid #EDEDED;
    padding: 10px;
    display: flex;
}

.search-page>.main-nav {
    top: -5px;
    z-index: 2;
    position: fixed;
    background-color: white;
}

.main-nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.main-nav__logo-container {
    display: flex;
    /* position: relative; */
    /* left: 50px; */
    justify-content: center;
    align-items: center;
}

.main-nav__logo {
    width: 80px;
    height: 80px;
    margin-right: 50px;
    border-radius: 50%;
}

.main-nav__search-container {
    width: 800px;
    position: relative;
}

.main-nav__search {
    width: 700px;
    height: 40px;
}
.main-nav__search-bar {
    padding-left: 20px;
    width: 600px;
    height: 40px;
    border: .3px solid rgba(238, 78, 42, 0.3);
    border-radius: 8px;
}

.main-nav__search-bar:focus {
    outline: none;
    border: .3px solid rgb(230, 76, 56);
    box-shadow: 0 0 5px rgba(230, 122, 113, 0.3)
}

.main-nav__search-button {
    background-color: rgb(230, 76, 56);
    color: white;
    border: none;
    border-radius: 0 8px 8px 0px;
    position: relative;
    left: -70px;
    height: 40px;
    width: 100px;
}

.main-nav__search-button:hover {
    background-color: rgb(252, 119, 102);
    transition-duration: .2s;
    border: none;
    position: relative;
    left: -70px;
}

.main-nav__buttons-container {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}

a {
    text-decoration: none;
}

.main-nav__button {
    text-decoration: none;
    color: black;
    background-color: rgb(230, 76, 56);
    color: white;
    width: 100px;
    height: 35px;
    font-size: 13px;
    font-family: verdana;
    margin: 8px;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-nav__button.hidden {
    display: none;
}

.main-nav__button:hover {
    background-color: rgb(252, 119, 102);
    transition-duration: .2s;
}
/*
@media (max-width: 900px) {
    .search__res-div {
        width: 700px;
    }
    .search-sidenav {
        display: none;
    }
    .search__restaurants-container {
        left: 20px;
    }
} */


.search__restaurants-container a {
    color: black;
    text-decoration: none;
}
