.demo__container {
    display:relative;

}

.demo__picture {

    width: 435px;
    height: 500px;
    background-image: url("./images/empty-person.png");
    background-size: cover;
}

.demo__bubble {
    width: 400px;
    height: 300px;
    background-image: url("./images/WELCOMdEMO.png");
    background-size: cover;
    position: absolute;
    top: 5px;
    left: 300px;
}


.demo__bubble2{
    width: 400px;
    height: 300px;
    background-image: url("./images/enjoyFeatures.png");
    background-size: cover;
    position: absolute;
    top: 5px;
    left: 300px;
}


.next_button1 {
    position: absolute;
    top: 200px;
    left: 480px;

}

.next_button2 {
    position: absolute;
    top: 230px;
    left: 480px;

}

.next_button1,
.next_button2:hover{
    cursor: pointer;
}

.developedBy{
    display: flex;

}
.developedBy > p {
    border: 1px solid black;
    margin: 3px;
}

.hidden{
    display: none;
}
