.demo__container {
    display:relative;

}

.demo__picture {

    width: 435px;
    height: 500px;
    background-image: url("./images/empty-person.png");
    background-size: cover;
}

.demo__bubble {
    width: 400px;
    height: 300px;
    background-image: url("./images/WELCOMdEMO.png");
    background-size: cover;
    position: absolute;
    top: 5px;
    left: 300px;
}


.demo__bubble2{
    width: 400px;
    height: 300px;
    background-image: url("./images/enjoyFeatures.png");
    background-size: cover;
    position: absolute;
    top: 5px;
    left: 300px;
}


.next_button1 {
    position: absolute;
    top: 200px;
    left: 480px;

}

.next_button2 {
    position: absolute;
    top: 230px;
    left: 480px;

}

.next_button2:hover{
    cursor: pointer;
}
.next_button1:hover{
    cursor: pointer;
}

.developedBy{
    position: absolute;
    left: 500px;
    top: 280px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid black;
    width: 15rem;
    padding: 1rem;
    box-shadow: 5px 5px #5494c6;
}

.hangry{
    padding-bottom: 1rem;
    font-weight:bold;
}


/* .developedBy > p {
    border: 1px solid black;
    margin: 3px;
} */

.hidden{
    display: none;
}

.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    /* animation-timing-function: ease-out; */
    animation-duration: 1s;
}
@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
