* {
    box-sizing: border-box;
}

/* index.pug css */
.recentRestaurants{
    display: flex;
    justify-content: center;
}

.restaurant1,
.restaurant2,
.restaurant3,
.restaurant4{
    border: 5px solid black;
    margin: 5px;
    padding: 5px;

}

.nav__bar{
    /* background-color: blue; */
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-end;
}

.hidden{
    display: none;
}

.container{
    /* display: flex; */
    background-image: url('./images/Experts-weigh-in-on-what-makes-people-become-hangry.jpg');
    background-size: cover;
    width: 100%;
    height: 30rem;
    /* background-color: green; */

}

.nav__btn{
    border-radius: 5px;
    background-color: transparent;
    padding: 0.3rem;
    color: white;
    align-self: center;
    margin: 5px;
}

.nav__btn:hover{
    cursor: pointer;
}

.logoSearchChunk{
    display: flex;
    flex-direction: column;
}

.nav__logo{
    align-self: center;
    margin-bottom: 10px;
    background-image: url('./images/logo.jpg');
    background-size: contain;
    width: 10rem;
    height: 10rem;
    opacity: 90%;
    border-radius: 100px;
}

.nav__search{
    text-align: center;
    margin-top: 1rem;

}



#username.form-control{
    border-radius: 5px;
    line-height: 3rem;
    width: 25rem;
}

.form-group button{
    border-radius: 5px;
    line-height: 3rem;
    width: 4rem;
    background-color: rgb(230, 76, 56);
}

.form-group button:hover{
    background-color: rgb(252, 119, 102);
    transition-duration: 0.3s;

}

.options {
    text-align: center;
    margin-top: 1rem;
    padding: 0.3rem;
    /* background-color: black;
    opacity: 50%; */
}

.options a{
    text-decoration: none;
    color: white;
    padding: 0.3rem;
    margin-left: 0.3rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.sign-up-main-container{
    display: flex;
    height: 400px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.sign-up-side-picture-container{
    margin: 10px;
    background-image: url("./images/LOGINpIC2.png");
    background-size: cover;
    height: 20em;
    width: 17em;
}

.sign-up-container{
margin: 10px;
}

.sign-up-button {
justify-content: center;
}

.sign-up-form #firstName{
    width: 105px;
    margin:5px
}

.sign-up-form #lastName{
    width: 105px;
    margin-left: 5px


}
.sign-up-form #email{
    width: 220px;
    margin: 5px;

}
.sign-up-form #password{
    width: 220px;
    margin: 5px;

}
.sign-up-form #confirmPassword{
    width: 220px;
    margin: 5px;

}

.log-in-form #email {
    width: 220px;
    margin: 5px;
}
.log-in-form #password {
    width: 220px;
    margin: 5px;
}
