/* * {
    box-sizing: b
} */

.nav__bar{
    /* background-color: blue; */
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-end;
}

.container{
    background-image: url('./images/Experts-weigh-in-on-what-makes-people-become-hangry.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    /* background-color: green; */

}

.nav__btn{
    border-radius: 5px;
    background-color: transparent;
    padding: 0.3rem;
    color: white;
    align-self: center;
}

.nav__btn:hover{
    cursor: pointer;
}

.nav__logo{
    background-image: url('./images/logo.png');
    background-size: cover;
}
