* {
    box-sizing: border-box;
}

.nav__bar{
    /* background-color: blue; */
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-end;
}

.container{
    display: flex;
    background-image: url('./images/Experts-weigh-in-on-what-makes-people-become-hangry.jpg');
    background-size: cover;
    width: 100%;
    height: 30rem;
    /* background-color: green; */

}

.nav__btn{
    border-radius: 5px;
    background-color: transparent;
    padding: 0.3rem;
    color: white;
    align-self: center;
    margin: 5px;
}

.nav__btn:hover{
    cursor: pointer;
}

.nav__logo{
    position: relative;
    top: 50%;
    right: 50%;
    background-image: url('./images/logo.jpg');
    background-size: cover;
    width: 10rem;
    height: 10rem;
}
